div#sel_patient{height:130px;}
div#sel_image_frame{height:1000px;position:absolute;top:250px;left:21px;z-index: 100}
div#sel_image{width:324px;height:1000px;float:left;}
div#sel_image_arrow{width:15px;height:1000px;float:left;background-color: grey}
div#status_bar{width:100%;height:30px;background-color: grey}
div#image_zoomer{height: 600px}
div#slideZoom{height: 500px}


.container {
	padding-right:	5px;
	padding-left:	5px;
	margin-right:	auto;
	margin-left:	auto;
}


#overflow{ 
	border:	1px solid #000;
	height: 150px;
	width:	100%;
	overflow-x:	scroll;
	overflow-y: hidden;
}

#overflow .slider{}


#overflow .slider div{
	border:	1px solid #BBB;
	float:	left;
	width:	130px;
	height:	130px;
	float:	left;
}


.top-buffer { 
	margin-top:	20px;
}


.openseadragon-view {
	color:	#cccccc;
	background-color: black;
	cursor: crosshair;
}


.absolute-fill-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}



.viewer-container
{
    margin-top: 4px;
    padding: 0;
}


.relative-fill-container
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.overlaySvg
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: auto;
}


.svgAnnoGrp {

}


